
.text{
    text-align: center;
    color:white;
}
.button{
    margin-top: 5%;
    width: 100%;
}


#hands {
    top: 0;
    left:0;
    position:absolute;  

}
img{
    vertical-align: bottom;   
}
body{
    background-color: black;
}
div{
    background-color: black;
    position: relative;
}